header{
    background-color: rgba(0,0,0,0.8);
    height: auto;
    position: sticky;
}

.img-logo{
    width: 10vh;
    margin: 10px;
    border-radius: 15%;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.1);
    }
}

.nav-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0%;
    align-items: center;
}

.links-nav{
    display: inline-block;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px 20px;
    line-height: normal;
    color: rgb(205, 204, 204);
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    transition: 0.3s;
    width: max-content;
    &:hover{
        transform: scale(1.09);
        background: rgb(178, 71, 71);
        border-radius: 50px;
    }
}